html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hero-header {
    background-color: #20313b;
    background: url(../images/fiber_optics.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gradient {
    background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,0.8));
    content: "";
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
}

.header-name {
    margin: 3.5em 0 0;
    position: relative;
    font-size: 3.157em;
    color: #fff;
}

.title {
    margin: 0.5em;
    position: relative;
    font-size: 1em;
    color: #fff;
}

ul {
    position: relative;
    color: #fff;
    padding: 0;
    list-style: none;
}

li {
margin: 1em 1em 0;
}

.link-animation {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.link-animation:after {
    content: '';
    display: block;
    margin-top: 0.25em;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.link-animation:hover:after {
    width: 100%;
    background: #a0f6b4;
}

.nav {
    font-size: 1.1em;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    display: flex;

}



#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a0f6b4;
}

.card-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    min-height: 500px;
    width: 70%;
    max-width: 350px;
    overflow: hidden;
}

.card-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-img {
    min-height: 250px;
    height: 50%;
}

.card-desc {
    text-align: center;
}

.one {
    background: url(../images/drunk-bike.png) no-repeat center;
    background-size: cover;
}

.two {
    background: url(../images/interactive-mural.png) no-repeat center;
    background-size: cover;
}

.three {
    background: url(../images/TMDB-Movie-App.png) no-repeat center;
    background-size: cover;
}

.video1 {
    display: none;
}

@media (min-width: 768px) {
  .nav {
    justify-content: flex-end;
    font-size: 1.3em;
  }
  .video1 {
    display: block;
  }
  .two {
    display: none;
  }
}
